@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@500;700&display=swap');

:root {
    $primay-color: #39b54a;
}

:html {
    font-size: 62.5%;
}

:body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    line-height: 1.765rem;
    text-rendering: optimizeSpeed;
}
